In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("./submission_no_na.csv")
df_test = pd.read_csv("../data/test.csv")

In [5]:
df

       id      file  earnings: 0 no/1 yes
0      20    20.xml                     0
1      47    47.xml                     0
2      57    57.xml                     0
3      66    66.xml                     1
4      88    88.xml                     0
..    ...       ...                   ...
167  4704  4704.xml                     0
168  4741  4741.xml                     0
169  4819  4819.xml                     1
170  4872  4872.xml                     0
171  4944  4944.xml                     0

[172 rows x 3 columns]

# add 0 for NaNs

In [48]:
df_na = pd.DataFrame(data={"id" : sorted(list(set(df_test["id"].values) - set(df["id"].values)))})
df_na["earnings: 0 no/1 yes"] = 0

In [49]:
# add nans' 0
df = pd.concat((df,df_na))
df.sort_values(by="id", ignore_index=True, inplace=True)
df["file"] = df["id"].astype(str)+".xml"
df = df[["id","file","earnings: 0 no/1 yes"]]

In [50]:
# check
df_files = set(df["file"].values)
df_test_files = set(df_test["file"].values)
difference = (df_files | df_test_files) - (df_files & df_test_files)
if len(difference) > 0 :
    print("The followings files' labels are missing : {}.".format(difference))
else:
    print("All good, nothing is missing.")

All good, nothing is missing.

In [51]:
df.to_csv("./submission.csv", index=False)

# save without NaNs

In [52]:
df_no_na = pd.read_csv("./submission_no_na.csv")
df_no_na.sort_values(by="id", ignore_index=True, inplace=True)
df_no_na["file"] = df_no_na["id"].astype(str)+".xml"
df_no_na = df_no_na[["id","file","earnings: 0 no/1 yes"]]
df_no_na.to_csv("./submission_no_na.csv", index=False)